<% content_for :head do %> 
  <div class="panel_container">
    <div class="panel panel-default">
    	<div class="panel-heading">付随費用登録</div>
    </div>
  </div>
  
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th class="order_num">諸掛項目</th>
        <th class="detail">案分方法</th>
        <th class="update">更新</th> 
      </tr>
    </thead>
<% end %>
    <tbody>
      <% @expense_titles.each do |expense_title| %>
        <%= form_for(expense_title, url: expense_title_path(expense_title)) do |f| %>
          <tr>
            <td class="order_num"><%= f.text_field :item, :size=> "15"%></td>
              <% array_title = [] %>
              <% display_title = "" %>              
              <% array_title = expense_title.method.gsub(/\"/, "").gsub(" ", "").gsub("[", "").gsub("]", "").split(",") if expense_title.method.present?%>
              <% if array_title.blank? %>
                <% display_title = "無し" %>
              <% elsif array_title.count == 1 %>
                <% display_title = array_title[0] %>
              <% else %>
                <% count_title = array_title.count %>
                <% 0.upto(count_title-2) do |i| %>
                  <% display_title += array_title[i] + "," %>
                <% end %>
                <% display_title += array_title[count_title -1] %>
              <% end %>
            <td class="detail"><%= f.collection_select :method, ExpenseMethod.all, :method, :method, {include_blank: "現在の選択値:" + display_title.to_s, include_hidden: false}, {multiple: true, class: "method_select"}%></td>
            <td class="update"><%= f.submit '更新', class: 'btn btn-default btn-sm' %></td>
          </tr>
        <% end %>    
      <% end %>
    </tbody>
  </table>
