<%= render "index_panel" %>
<%= render "header" %>
<%= render "body" %>

  <div style="display: inline-block;">
    <label>　フォーマットはこちらからダウンロードしてください:</label>
    <%= link_to "フォーマット出力", blank_form_yafuokus_path(format: "csv"), class: "btn btn-primary btn-xs" %>
  </div>    