  <div class="panel-group col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        メニュー
      </div>
      <div class="panel-body">
        <ul id="help_menu">
          <div class="space">　</div>
          <li><a href="#start">はじめに</a></li>
          <li><a href="#subexpense">付随費用の登録</a></li>
          <li><a href="#exchange">通貨の登録</a></li>
          <li><a href="#account">勘定科目の登録</a></li>
          <li><a href="#bank">銀行口座の登録</a></li>
          <li><a href="#transaction">トランザクションの概要の取込み</a></li>
          <li><a href="#confirmation">トランザクションの概要の取込み</a></li>
        </ul>
      </div>
    </div>
  </div>