<h1>通貨</h1>

<table>
  <thead>
    <tr>
      <th>通貨</th>
      <th>換算方法</th>
    </tr>
  </thead>
  <tbody>
    <% Currency.all.each do |currency| %>
      <tr>
        <td><%= currency.name %></td>
        <td><%= currency.method %></td>
      </tr>
    <% end %>      
  </tbody>
</table>

<p>
  フォーマットはこちらからダウンロードしてください:
  <%= link_to "フォーマット出力", currencies_path(format: "csv"), class: "btn btn-primary" %>
</p>