<h1>会計期間</h1>

<div class="container-fluid">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th class="account">月次／年次</th>
          <th class="account">開始年月日</th>
          <th class="account">終了年月日</th>
        </tr>
      </thead>
      <tbody>
        <% @periods.each do |period| %>
          <tr>
            <td class="account"><%= period.monthly_yearly %></td>
            <td class="account"><%= period.period_start %></td>
            <td class="account"><%= period.period_end %></td>
          </tr>
        <% end %>
      </tbody>
      <%= paginate @periods %>
    </table>
  </div>
</div>
