<div class="panel panel-default">
	<div class="panel-heading">
	  出品レポート(一覧画面)
	</div>
  <div class="panel-body">    
    <%= form_tag({action: 'upload'}, {multipart: true, class: "form_tag"}) do %>
      <label>出品レポート取込み:</label>
      <%= file_field :upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false%>
      <%= submit_tag "UPLOAD", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>