<h1>付随費用登録</h1>

<table>
  <thead>
    <tr>
      <th>案分方法</th>
    </tr>
  </thead>
  <tbody>
    <% @expense_methods.each do |expense_method| %>
      <tr>
        <td><%= expense_method.method %></td>
      </tr>
    <% end %>
  </tbody>
</table>
