@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-left: 0px;
  margin-right: 0px;
  width: 2050px;
}
.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 2050px;
}
.panel_container {
  margin-left: 0px;
  margin-right: 0px;
  width: 1200px;
}
table {
  border-collapse: collapse;
  width: 2050px;   /* ポイント */
}
thead {
  float: left;     /*ポイント*/
  overflow: hidden;  /*ポイント */
}
tbody {
  float: left;     /*ポイント */
  overflow: auto;  /*ポイント */
  height: 900px;   /*ポイント */
  width: 2050px;    /*ポイント */
}
th.small {
  font-size: 14px;
  text-align: center;
  width: 46px;    /* ポイント */
}
td.small {
  font-size: 14px;
  text-align: right;
  width: 46px;    /* ポイント */
}
th.rate {
  font-size: 14px;
  text-align: center;
  width: 60px;    /* ポイント */
}
td.rate {
  font-size: 14px;
  text-align: right;
  width: 60px;    /* ポイント */
}
th.half {
  font-size: 14px;
  text-align: center;
  width: 70px;    /* ポイント */
}
td.half {
  font-size: 14px;
  text-align: left;
  width: 70px;    /* ポイント */
}
th.middle {
  font-size: 14px;
  text-align: center;
  width: 80px;    /* ポイント */
}
td.middle {
  font-size: 14px;
  text-align: left;
  width: 80px;    /* ポイント */
}
.update {
  font-size: 14px;
  text-align: center;
  width: 83px;    /* ポイント */
}
th.amount {
  font-size: 14px;
  text-align: center;
  width: 102px;    /* ポイント */
}
td.amount {
  font-size: 14px;
  text-align: right;
  width: 102px;    /* ポイント */
}
th.company {
  font-size: 14px;
  text-align: center;
  width: 102px;    /* ポイント */
}
td.company {
  font-size: 14px;
  text-align: left;
  width: 102px;    /* ポイント */
}
th.account {
  font-size: 14px;
  text-align: center;
  width: 104px;    /* ポイント */
} 
td.account {
  font-size: 14px;
  text-align: left;
  width: 104px;    /* ポイント */
}
th.large {
  font-size: 14px;
  text-align: center;
  width: 120px;    /* ポイント */
}
td.large {
  font-size: 14px;
  text-align: left;
  width: 120px;    /* ポイント */
}
th.asin {
  font-size: 14px;
  text-align: center;
  width: 130px;    /* ポイント */
} 
td.asin {
  font-size: 14px;
  text-align: left;
  width: 130px;    /* ポイント */
}
th.middle_large {
  font-size: 14px;
  text-align: center;
  width: 150px;    /* ポイント */
}
td.middle_large {
  font-size: 14px;
  text-align: left;
  width: 150px;    /* ポイント */
}
th.order_num {
  font-size: 14px;
  text-align: center;
  width: 170px;    /* ポイント */
} 
td.order_num {
  font-size: 14px;
  text-align: left;
  width: 170px;    /* ポイント */
} 
th.reference {
  font-size: 14px;
  text-align: center;
  width: 200px;    /* ポイント */
} 
td.reference {
  font-size: 14px;
  text-align: left;
  width: 200px;    /* ポイント */
} 
th.detail {
  font-size: 14px;
  text-align: center;
  width: 240px;    /* ポイント */
} 
td.detail {
  font-size: 14px;
  text-align: left;
  width: 240px;    /* ポイント */
} 
th.content {
  font-size: 14px;
  text-align: center;
  width: 335px;    /* ポイント */
}
td.content {
  font-size: 14px;
  text-align: left;
  width: 335px;    /* ポイント */
}
.bootstrap-filestyle {
  display: inline-block;
}
thead.financial {
  float: none;
}
tbody.financial {
  float: none;
  height: auto;
}
.blue_line {
  background-color: AliceBlue;
}
.yellow_line {
  background-color: LightYellow;
}