// Place all the styles related to the subexpenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td#adjust select{
  width: 500px;
  overflow-y: auto;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
td.collection select{
-webkit-appearance:none;
height: 500px;
}
th.subexpense{
  border: 1px;
  font-size: 14px;
  text-align: center;
  width: 135px;    /* ポイント */
}
th.alloc_stock{
  border: 1px;
  font-size: 14px;
  text-align: center;
  width: 515px;    /* ポイント */
}
