<h1>マルチチャンネルＳＫＵ登録</h1>

<table>
  <thead>
    <tr>
      <th>注文番号</th>
      <th>ＳＫＵ</th>      
    </tr>
  </thead>
  <tbody>
    <% @multi_channels.each do |channel| %>
      <tr>
        <td><%= channel.order_num %></td>
        <td><%= form_for(channel, url: multi_channels_path) do |f|  %>
              <%= f.hidden_field :order_num %>              
              <%= f.text_field :sku %>
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>



