<%= render "index_panel" %>
<%= render "header" %>
<%= render "body" %>
    
    <p>
      フォーマットはこちらからダウンロードしてください:
      <%= link_to "フォーマット出力", blank_form_vouchers_path(format: "csv"), class: "btn btn-primary btn-xs" %>
    </p>
